<div class="titulo">
	<h1>RGB Challenge Guessing</h1>
</div>

<div class="score">
	PUNTAJE: <span>0</span>
</div>

<div class="question-container">
	<div class="question">
		rgb(0, 0, 0)
	</div>

	<div class="options">
		<div class="option"></div>
		<div class="option"></div>
		<div class="option"></div>
	</div>
</div>

<div class="result won">
	<span>CORRECTO</span>
	<div class="close">
		<a href="#">Siguiente</a>
	</div>
</div>

<div class="result lost">
	<span>NOOOOOO :(</span>
	<h1>Score: <span id="finalScore"></span></h1>
	
	<div class="score-form">
		<%= form_for(@competitor) do |competitor| %>
			<%= hidden_field_tag 'competitor[score]', 0, id:'hiddenScoreInput' %>
			<div><%= competitor.email_field :email, placeholder: 'Correo Electrónico', class: 'email-input' %></div>
			<div><%= competitor.submit 'Registrar puntaje', id: 'registerScore' %></div>
		<% end %>
	</div>

	<div class="close">
		<a href="#">Volver a Jugar</a>
	</div>

</div>

<script>
var correct;
var score = 0;


// Iniciializa el uego
game();

// enlaza el click de los íconos
$('.option').on('click',guess);
$('.close a').on('click', function() {
	event.preventDefault();
	$('.result').hide();
	$('.option').removeClass('scale');
	$('.email-input').val('');
	game();
});


function game(){
	correct = Math.floor(Math.random() * 3);
	$('.option').each(function (index) {
		var color = generateColor();
		$(this).css('background-color', color);

		if (index == correct) {
			$('.question').text(color);
		};
	});

}


function guess() {

	$(this).addClass('scale');
	var index = $('.option').index(this)
	if (index == correct) {
		$('.result.won').show();
		score++;
	}else{
		$('.result.lost').show();
		$('#finalScore').text(score);
		$('#hiddenScoreInput').val(score);
		score = 0;
	}

	$('.score span').text(score);
	

}

function generateColor(){
	return 'rgb(' + random() + ',' + random() + ',' + random() + ')';
}
function random(){
	return Math.floor(Math.random() * 255);
}
</script>